<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Regards</p>
    <Strong>Clash</Strong>
    <p>In case of any query contact <strong>info@clash.io</strong></p>
</body>

</html>